#fontfamilygallery {
  font-family: "Neue Haas Grotesk";
}

#firstboxcolorgallery {
  background-color: #f9f7f0;
}

#secondboxcolorgallery {
  background-color: #eef2f3;
}

#thirdboxcolorgallery {
  background-color: #efeaea;
}

#fourthboxcolorgallery {
  background-color: #eef0f3;
}
