#fontfamily {
  font-family: "Neue Haas Grotesk";
}

#test:hover {
  color: red;
}

#reactcollapse {
  font-family: "Neue Haas Grotesk";
  color: black;
  font-size: 10vw;
}

#reactcollapse:hover {
  font-family: "Neue Haas Grotesk";
  font-size: 10vw;
  color: white;
  -webkit-text-stroke: 2px black;
}
