#fontfamilylatest {
  font-family: "Neue Haas Grotesk";
}

#firstboxcolorlatest {
  background-color: #f2f4f2;
}

#secondboxcolorlatest {
  background-color: #f8f4f3;
}

#thirdboxcolorlatest {
  background-color: #f4f0e9;
}
