#fontfamilylighting {
  font-family: "Neue Haas Grotesk";
}

#firstboxcolorlighting {
  background-color: #eef0f3;
}

#secondboxcolorlighting {
  background-color: #f1ede8;
}

#thirdboxcolorlighting {
  background-color: #efefea;
}

#fourthboxcolorlighting {
  background-color: #f1ede8;
}
