#fontfamilysidetables {
  font-family: "Neue Haas Grotesk";
}

#firstboxcolorsidetables {
  background-color: #f9f7f0;
}

#secondboxcolorsidetables {
  background-color: #eef2f3;
}

#thirdboxcolorsidetables {
  background-color: #efeaea;
}

#fourthboxcolorsidetables {
  background-color: #eef0f3;
}
